<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
</form>
<p>Смена статуса</p>
<form method="post" action="changeStatus">
    <input type="number" name="id" placeholder="Введите ID">
    <p>Выберите статус</p>
    <input name="status" value="Online" type="radio" placeholder="Online"> Онлайн
    <input name="status" value="Offline" type="radio" placeholder="Offline"> Офлайн
    <input type="submit" placeholder="Сменить">
</form>
<div>Список пользователей</div>
{{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{username}}</span>
        <i>{{email}}</i>
        <img src="img/{{avatar}}">
    </div>
{{/users}}
</body>
</html>