<html>
<head>
    <meta charset="UTF-8">
    <title>пох</title>
</head>
<body>
    <div style="margin-right: 10px">
        <form action="/logout" method="post" >
            <input type="submit" value="Выйти">
        </form>
    </div>
    <div>
        <form method="post">
            <input type="text" name="username" placeholder="Введите логин">
            <input type="text" name="email" placeholder="Введите электронную почту">
            <button type="submit">Добавить</button>
        </form>
    </div>

    <form method="post" action="deleteAll">
        <button type="submit">Очистить</button>
    </form>

    <form method="GET" action="findById">
        <input type="number" name="id" placeholder="Введите ID">
        <button type="submit">Найти по ID</button>
    </form>
    <div>Список пользователей</div>
    {{#users}}
    <div>
        <b>{{id}}</b>
        <span>{{username}}</span>
        <i>{{email}}</i>
        <img src="img/{{avatar}}">
    </div>
    {{/users}}


</body>
</html>