<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add new User</title>
</head>
<body>
<p style="color:red">
{{#warningMessage}}
    {{warningMessage}}
{{/warningMessage}}
</p><br>
<form action="/registration" method="post" enctype="multipart/form-data">
    <div><label> Логин: <input type="text" name="username"></label></div><br>
    <div><label> Пароль: <input type="password" name="password"></label></div><br>
    <div><label> Электронная почта: <input type="email" name="email"></label></div><br>
    <div><label> Аватар: <input type="file" accept="image/jpeg" name="file"></label></div><br>
    <div><input type="submit" value="Зарегистрировать"></div>

</form>
</body>
</html>